#first-row{
	display: flex;
	gap: 0px 10px;
	margin-left: 1150px;
	margin-top: 0;
}

html,body{
	margin: 0;
}

#line{
	border-color:#FAFAFA;
	margin-top: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #9E9E9E;
	font-size: 14px;
	font-family: arial;
}

a:hover{
	color: #F50057;
}
#btn{
	text-decoration: none;
	border: none;
	background-color: none;
	
}

#line-one{
	width: 20%;
	height: 2px;
	background-color: red;
}

#second-line{
	
	display: flex;
	flex-direction: row;
	gap: 250px;

	margin-left: 50px;
}


#logo{
	width: 150px;
	height: 70px;
	margin-top: 0;
}

#new{
	height: 100px;
}

.basket-icons{
	display: flex;
	gap: 20px;
	margin-left: 100px;
	margin-top: 10px;

}

#popup{
	width: 50%;
	height: 3px;
	background-color: red;
}

#search-line{
	height: 1px;
	width: 300px;
	margin-top: 15px;
	background-color:#F50057;
}

#search{
	margin-left: 120px;
}

#search1{
	margin-top: 10px;

}

#categories{
	display: flex;
	gap: 30px;
	height: 50px;
	width: 100%;
	
	justify-content: center;
	position:sticky;
	top: 0;
	box-shadow: 0 0 40px 20px rgba(0,0,0,0.1);
	background-color: #FAFAFA;
}

p:hover{
	text-decoration: underline 2px solid #F50057;
	cursor: pointer;
	color: #F50057;
}

#head{
	font-size: 16px;
	font-weight: 600;

}




#line-last{
margin-top: 20px;
position:absolute;
}

#box-shadow{
	width: 100%;
	height: 1px;
	box-shadow: 0,0,0,0 rgba(0,0,0,0.26);
}



#abc{
	visibility: none;
	display: none;
}

#abc:hover{
	display: block;
}


#banner{
	display: block;
	
}

#banner img{
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
}


#images-box{
	display: flex;
	margin-top: 40px;
	gap: 40px;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
	
	margin-bottom: 30px;
	
}



#banner1{
	display:flex;
	align-items: center;
	justify-content: center;
	
	margin-left: 10%;
	margin-right: 5%;
	gap:20px;
	
}

#boddy{
	width: 90%;
	align-items: center;
	justify-content: center;
}

#banner2{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:20px;
	margin-left: 10%;
	margin-right: auto;
}

#banner2 > img{
	width: 250px;
}

#cent{
	align-items: center;
	justify-content: center;
}







.popup .overlay{
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100vw;
			height: 100vh;
			background: rgba(0,0,0,0.7);
			z-index: 1;
			display: none;
		}

		.popup .content {
			position: absolute;
			top: 20%;
			left: 90%;
			transform: translate(-50%,-50%) scale(0);
			background: #fff;
			width: 200px;
			height: 200px;
			
			
			padding: 20px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			box-shadow: 0 0 40px 20px rgba(0,0,0,0.1);
		}

		.popup.active .overlay{
			display: blcok;
		}

		.popup.active .content{
			transition: all 300ms ease-in-out;
			transform: translate(-50%, -50%) scale(1);
		}

		.popup.close-btn{
			cursor: pointer;
			position: absolute;
			right: 20px;
			width: 30px;
			height: 30px;
			background: #222;
			color: #fff;
			font-size: 25px;
			margin-top: 120px;
			text-align: center;
			border-radius: 50%;
		}

		

		#centr{
			margin-top: 100px;

		}

		#data a{
			display: flex;
			flex-direction: column;
			font-size: 12px;
			line-height: 30px;
			cursor: pointer;
		}
		#signin{
			width: 100%;
			background-color: #E91E63;
			color: white;
			padding: 5px;
			cursor: pointer;
		}




		.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

#register{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.align-top{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

input{
	width: 90%;
	border-bottom-style: groove;
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;

}

#no-outline:focus{
	outline: none;
	border-color: pink;
}





















.model {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 50%;
  margin-top: 205px;
}

/* The Close Button */
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

#reg{
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	gap: 20px;
	height: 10px;
	
	justify-content: center;
}




#reg p{
	font-size: 16px;
}
input{
	width: 90%;
}

#inner-box{
	height: 10px;
}
.line {
             
            padding-bottom: 20px;
            border-bottom-style: solid  ;
            border-bottom-width: 3.1px;
            width: fit-content;
            border-color: #C51162;
            color: #C51162;
            cursor: pointer;
        }
        #sub-categories{
        	display: flex;
        	flex-direction: column;
        }

        #sub-categories a{
        	font-family: poppins;
        	font-size: 14px;
        	line-height: 20px;
        	text-decoration: none;
        	color: #000;
        }

         #sub-categories2{
        	display: flex;
        	flex-direction: column;

        }

        #sub-categories2 a{
        	font-family: poppins;
        	font-size: 14px;
        	line-height: 20px;
        	text-decoration: none;
        	color: #000;
        }
        h4{
        	text-transform: uppercase;
        }

        #sub-categories a:hover{
        	color: #C51162;
        }
          #sub-categories2 a:hover{
        	color: #C51162;
        }
        #sub{
        	width: 300px;
        	height: 330px;
        	background-color:#eee;
        }

       

       #mybt:hover{
       	text-decoration: underline 2px solid #F50057;
	cursor: pointer;
	color: #F50057;
       }

       .close{
       	margin-right: 70px;
       }


       #butt{
       	color: #fff;
       	height: 25px;
       }

	   .cls{
	padding: 80px;
	margin-top: 0px;
	
}

#banner1 img{
	width: 20%;
	padding: 20px;
	margin-top: 0px;
}

#footer{

	width: 95%;
	display: flex;
	
	gap:60px;
	height: 50px;
	align-items: center;
	justify-content: center;
	margin-left: 3%;
}

h3{
	color:gray;
	font-family: sans-serif;
}

#foot{
	margin-left: 50px;
	margin-right: 50px;
}

#connect{
	display: flex;
}

#connect img{
	width: 40px;
	height: 35px;
	margin-top: 15px;
	margin-left: 10px;
	
}




#about{
	display: grid;
	grid-template-columns: repeat(4,20%);
	margin-bottom: 30px;

	justify-content: center;
}

#first_about{
	display: flex;
	flex-direction: column;
	gap:10px;
}

#first_about a{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 5;
}

#p{
	width:45px;
	height: 40px;
}

h4{
	font-family: sans-serif;
	color: rgb(112, 112, 114);
}