#Address{
    border: 2px solid #E0E0E0 ;
    width: 50%;
    
    
   }
   #T_bar{
       /* max-width: 600px;
       max-height: 50px; */
       color:#212121;
       font-family: system-ui;

   }
   h2{
       background-color:#E0E0E0; 
   }
   #Add_form > div{
     margin-top: 50px;
        
   }
   #exam{
    box-sizing: border-box;
   }
   #cit_stat{
       display:flex;
   }
   #stat{
       margin-left: 30px;
   }
   #T_add{
       display: flex;
       margin-top: 30px;
   }
   select{
       margin-left: 20px;
   }
   #continue{
       max-height: 80px;
       max-width: 200px;
       color: white;
       background-color:#F50057;
       border-radius: 4px;
       text-align: center;
       margin-left: 30%;
   }
