#Address{
    border: 2px solid #E0E0E0 ;
    width: 50%;
    
    
   }
   #T_bar{
       /* max-width: 600px;
       max-height: 50px; */
       color:#212121;
       font-family: system-ui;

   }
   h2{
       background-color:#E0E0E0; 
   }
   #Add_form > div{
     margin-top: 50px;
        
   }
   #exam{
    box-sizing: border-box;
   }
   #cit_stat{
       display:flex;
   }
   #stat{
       margin-left: 10px;
   }
