#first-row{
	display: flex;
	gap: 0px 10px;
	margin-left: 1150px;
	margin-top: 0;
}

html,body{
	margin: 0;
}

#line{
	border-color:#FAFAFA;
	margin-top: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #9E9E9E;
	font-size: 14px;
	font-family: arial;
}

a:hover{
	color: #F50057;
}
#btn{
	text-decoration: none;
	border: none;
	background-color: none;
	margin-bottom: ;
}

#line-one{
	width: 20%;
	height: 2px;
	background-color: red;
}

#second-line{
	
	display: flex;
	flex-direction: row;
	gap: 250px;

	margin-left: 50px;
}


#logo{
	width: 150px;
	height: 70px;
	margin-top: 0;
}

#new{
	height: 100px;
}

.basket-icons{
	display: flex;
	gap: 20px;
	margin-left: 100px;
	margin-top: 10px;

}

#popup{
	width: 50%;
	height: 3px;
	background-color: red;
}

#search-line{
	height: 1px;
	width: 300px;
	margin-top: 15px;
	background-color:#F50057;
}

#search{
	margin-left: 120px;
}

#search1{
	margin-top: 10px;

}

#categories{
	display: flex;
	gap: 30px;
	height: 50px;
	width: 100%;
	
	justify-content: center;
	position:sticky;
	top: 0;
	box-shadow: 0 0 40px 20px rgba(0,0,0,0.1);
	background-color: #FAFAFA;
}

p:hover{
	text-decoration: underline 2px solid #F50057;
	cursor: pointer;
	color: #F50057;
}

#head{
	font-size: 16px;
	font-weight: 600;
	font-family:;
}

img{
	margin-left: 40px;
	margin-top: 50px;
	
}

#images-box{
	display: flex;
	margin-top: 40px;
	gap: 30px;
}

#line-last{
margin-top: 20px;
position:absolute;
}

#box-shadow{
	width: 100%;
	height: 1px;
	box-shadow: 0,0,0,0 rgba(0,0,0,0.26);
}

